<div class="container center_div" style="margin-top: 20px;">
  <div class="card card-container center_div shadow p-3 mb-5 bg-white rounded text-dark">
    <div class="mb-3">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded mx-auto d-block" />
    </div>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3 center_div_form">
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
          #email="ngModel" placeholder="Email"/>
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email jest wymagany</div>
          <div *ngIf="email.errors.email">
            Zły format email
          </div>
        </div>
      </div>
      <div class="mb-3 center_div_form">
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
          maxlength="20" #username="ngModel" placeholder="Username"/>
        <div class="alert-danger" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Username jest wymagany</div>
          <div *ngIf="username.errors.minlength">
            Username musi mieć conajmniej 3 znaki
          </div>
          <div *ngIf="username.errors.maxlength">
            Username może mieć conajwyżej 20 znaków
          </div>
        </div>
      </div>
      <div class="mb-3 center_div_form">
        <input type="password" class="form-control" name="hasło" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" placeholder="Password"/>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">
            Hasło może mieć conajmniej 6 znaków
          </div>
        </div>
      </div>
      <div class="mb-3 center_div_form">
        <button class="btn btn-primary btn-block">Zarejestruj się</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isRegisterFailed">
        Rejestracja się nie udała:<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Sukces, udało ci się zarejestrować !
    </div>
  </div>
</div>
