
<div>
    <div class="header">
      <img src="{{currentMovie.imgBackUrl}}"  alt="Backgroudn image">
      <div class="header-title">
          <h1 style="font-size: 100px;">
            <input
            type="text"
            class="form-control shadow-sm"
            id="currentMovie.title"
            required
            [(ngModel)]="currentMovie.title"
            name="title"
            value="{{currentMovie.title}}"
            /></h1>
                
            <input
                type="text"
                class="form-control shadow-sm"
                id="backImg"
                required
                [(ngModel)]="currentMovie.imgBackUrl"
                name="backImg"
            />
            </div>
        </div>
  
    <div class="back container p-3 mb-5 rounded text-dark"> 
        <div class="row">
            <div class="col-md-3">
                <img class="border shadow" src="{{currentMovie.imgLogoUrl}}" alt="..." width="100%">
                <input
                    type="text"
                    class="form-control shadow-sm"
                    id="logoImg"
                    required
                    [(ngModel)]="currentMovie.imgLogoUrl"
                    name="logoImg"
                />
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h3>Opis</h3>
                    <p class="text-break" style="width: 150%;">
                        <textarea
                            class="form-control shadow-sm"
                            id="description"
                            rows="3"
                            required
                            [(ngModel)]="currentMovie.description"
                            name="description"
                            value="{{currentMovie.description}}"
                            >
                        </textarea>
                    </p>
            
                    <div style="margin-top: 10%; overflow: hidden;">
                        <div style="overflow: hidden; float: left; width: 45%;">
                            <h4 style="float: top"><p class="text-muted">Reżyser</p>
                                <input
                                    type="text"
                                    class="form-control shadow-sm"
                                    id="director"
                                    required
                                    [(ngModel)]="currentMovie.director"
                                    name="director"
                                    value="{{currentMovie.director}}"
                                />
                            </h4>
                            <h4 style="float: bottom"><p class="text-muted">Scenarzysta</p>
                                <input
                                    type="text"
                                    class="form-control shadow-sm"
                                    id="writer"
                                    required
                                    [(ngModel)]="currentMovie.writer"
                                    name="writer"
                                    value="{{currentMovie.writer}}"
                                />
                            </h4>
                        </div>

                        <div style="overflow: hidden; float: right;">
                            <h4 style="float: top"><p class="text-muted">Kategoria</p>
                                <select name="category" value="{{currentMovie.category}}" [(ngModel)]="currentMovie.category" id="inputState" class="form-control shadow-sm">
                                    <option value="ACTION">Akcja</option>
                                    <option value="DRAMA">Dramat</option>
                                    <option value="COMEDY">Komedia</option>
                                    <option value="FANTASY">Fantasy</option>
                                    <option value="HORROR">Horror</option>
                                    <option value="ROMANCE">Romans</option>
                                    <option value="THRILLER">Thriller</option>
                                </select>
                                
                            </h4>
                            <h4 style="float: bottom"><p class="text-muted">Premiera</p>
                                <input
                                    type="text"
                                    class="form-control shadow-sm"
                                    id="releaseDate"
                                    required
                                    [(ngModel)]="currentMovie.releaseDate"
                                    name="releaseDate"
                                    value="{{currentMovie.releaseDate}}"
                                />
                            </h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <div style="margin-top: 5%">
            <h2 class="tag_title" style="padding-top: 2%; text-align: center;">OBSADA</h2>
            <div class="row row-cols-1 row-cols-md-4 mb-4 text-center center">
                <div *ngFor="let actor of actors; let i = index" [attr.data-index]="i" class="col border border-dark" style="margin-top: 5%; margin-left: 1%;">
                    <h2 style="margin-top: 5px; margin-bottom: 0;">
                        <input
                        type="text"
                        class="form-control shadow-sm"
                        id="actor-firstName"
                        required
                        [(ngModel)]="actor.firstName"
                        name="actor-firstName"
                    />
                    <input
                        type="text"
                        class="form-control shadow-sm"
                        id="actor-lastName"
                        required
                        [(ngModel)]="actor.lastName"
                        name="actor-lastName"
                    />
                    </h2>
                    <p style="margin-top: 2%;">Aktor</p>
                    <div class="removeAct">
                        <span (click)="removeActor(i)" class="material-icons">
                        not_interested
                        </span>
                    </div>
                </div>
                <div class="col center">
                    <button (click)="addActor()"  class="btn btn-success shadow">+</button>
                </div>
            </div>
        </div>
  
  
  
  
        <!-- <div class="row" style="margin-top: 8%;">
            <div class="col" style="max-width: 800px; margin: 0 auto;">
        
                <h2 class="tag_title" style="text-align: center;">
                    Ciekawostki
                </h2>
                <div style="margin-top: 10%; overflow: hidden;">
                    <div style="overflow: hidden; float: left; text-align: center;">
                        <h4 style="float: top;"><p class="text-muted">Wydano</p>....</h4>
                        <h4 style="float: bottom;"><p class="text-muted">Produkcja</p>....</h4>
                    </div>
                    <div style="overflow: hidden; float: right; text-align: center;">
                        <h4 style="float: top;"><p class="text-muted">Oryginalny język</p>....</h4>
                        <h4 style="float: bottom;">
                        <p class="text-muted">Network</p>...
                        </h4>
                    </div>
                </div>
            </div>
        </div>
  
        <div style="margin-top: 11%;">
            <h2 class="tag_title" style="text-align: center;">
                Filmy, &nbsp; trailery
            </h2>
            <div class="card-deck" style="margin-top: 3%;">
                <iframe style="height: 300px; width: 400px;" class="card" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                <iframe style="height: 300px; width: 400px;" class="card" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
  
    </div> -->
  
    
    <div class="div_button shadow-sm">
        <button (click)="editMovie()" class="btn button-edit"><h3>Update</h3></button>
    </div>
</div>