<form>
  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="movie.title"
      placeholder="Titanic"
      name="title"
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title" class="form-label">Director</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="movie.director"
        name="title"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="title" class="form-label">Producer</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="movie.producer"
        name="title"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <textarea
    class="form-control"
    id="description"
    rows="3"
    required
    [(ngModel)]="movie.description"
    name="description"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="inputState">Category</label>
    <select name="category" [(ngModel)]="movie.category" id="inputState" class="form-control">
      <option value="ACTION">Action</option>
      <option value="DRAMA">Drama</option>
      <option value="COMEDY">Comedy</option>
    </select>
  </div>

  <div class="form-group">
    <label for="title" class="form-label">ImageUrl</label>
    <input
      type="text"
      class="form-control"
      id="image"
      required
      [(ngModel)]="movie.imageUrl"
      name="image"
    />
  </div>

  <label for="actor" class="form-label">Actor</label>
  <div class="form-row">
    <div class="form-group col-md-5">
      <input
        type="text"
        class="form-control"
        id="actor"
        required
        [(ngModel)]="actor"
        name="actor"
      />
    </div>
    <div class="form-group">
      <button (click)="addActor()"  class="btn btn-success">+</button>
    </div>
  </div>


  <div class="d-flex justify-content-center flex-column flex-wrap" >
    <ul *ngFor="let actor of actors; let i = index">
      <li class="list-group-item text-center" style="margin-top: 1px; height: 40px;">{{i+1}}. <b>{{actor}}</b></li>
    </ul>
  </div>

<div>
  <button (click)="saveMovie()" class="btn btn-success">Submit</button>
</div>
</form>
