<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Movie<b>Room</b></a>  
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/movies" class="nav-item nav-link">Filmy </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLink="/add-movie" class="nav-item nav-link">Dodaj</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin/board" class="nav-item nav-link" routerLink="admin/board">Panel Admina</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Rejestracja</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Logowanie</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Wyloguj się</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer class="footer" style="margin-top: 10%;">
    <p>Created by: mmpodkanski</p>
    <p>
      <a href="https://github.com/mmpodkanski" target="_blank" >Github</a>
    </p>
  </footer>
</div>
