<div class="container center_div" style="margin-top: 20px;">
  <div class="card card-container center_div shadow p-3 mb-5 bg-white rounded text-dark">
    <div class="mb-3">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded mx-auto d-block" />
    </div>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mb-3 center_div_form">
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
          #username="ngModel" placeholder="Nazwa użytkownika"/>
        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
          Nazwa użytkownika jest wymagana
        </div>
      </div>
      <div class="mb-3 center_div_form">
        <input type="password" class="form-control" name="hasło" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" placeholder="Hasło"/>
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">
            Hasło musi mieć przynajmniej 6 znaków
          </div>
        </div>
      </div>
      <div class="mb-3 center_div_form">
        <button class="btn btn-primary btn-block"> Login </button>
      </div>
      <div class="mb-3 center_div_form">
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
          Logowanie nieudane: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Zalogowany jako {{ role }}.
    </div>
  </div>
</div>

<div *ngIf="!isLoggedIn" class="text-center" style="margin: 0 auto;">
  <p>Przykładowe konto do testowania aplikacji: </p>
  <p>Login: mmuser</p>
  <p>Hasło: mmuser</p>
</div>
