<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Project in beta tests!</h1>
      <hr class="my-4">
      <p class="lead text-muted">Welcome to MovieRoom website! There you can see a lot of great movies. It's option to register, like films, add comment and others.. Created to improve skills, mostly in JAVA.</p>
      <p>
        <a href="#" class="btn btn-primary my-2 shadow">Github</a>
        <a href="#" class="btn btn-secondary my-2 shadow" style="margin-left: 2%;">Linkedin</a>
      </p>
    </div>
  </div>
</section>

<div class="container">
  <div class="row text-center">
    <div *ngFor="let movie of movies" class="col-3 text-center">
      <div class="card_link view overlay" style="margin-top: 25%;">
        <div class="imgContainer shadow-sm">
          <a (click)="goToMovie(movie)">
            <img src="{{movie.imageUrl}}">
          </a>
        </div>
        <div>
          <a (click)="goToMovie(movie)" class="btn btn-link movie_title" style="margin-top: 5px;">{{movie.title}}</a>
          <!-- <div class="d-flex justify-content-between align-items-center">
            <div *ngIf="showAdminButtons" style="padding-top: 0; margin-top: 0;">
              <button type="button" class="btn btn-outline-danger btn btn-sm" style="margin-bottom: 2px; margin-left: 2px;">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 2px; margin-left: 2px;">Edit</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card text-center shadow-sm p-3 mb-5 rounded" style="margin-top: 10%; background-color:  rgb(163, 158, 158);">
  <div class="lead">
    Featured
  </div>
  <div class="card-body">
    <h3 class="card-title"><b>News title</b></h3>
    <p class="card-text"> {{news}} </p>
    <a href="#" class="btn btn-primary">Articule</a>
  </div>
  <div class="text-muted">
    2 days ago
  </div>
</div>