<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Projekt w fazie testów!</h1>
      <hr class="my-4">
      <p class="lead text-muted">
    Witam na stronie MovieRoom! Jeśli nie widzisz żadnych filmów, poczekaj chwilę na odpowiedź serwera. 
    Jako użytkownik masz możliwość 
    komentowania, dodawania do ulubionych czy nawet publikacji nowych filmów.
    Aplikacja jedynie służy do rozwijania moich umiejętności w programowaniu!</p>
      <p>
        <a href="https://github.com/mmpodkanski" target="_blank" class="btn btn-primary my-2 shadow">Github</a>
        <a href="https://www.linkedin.com/in/micha%C5%82-podka%C5%84ski-0b1aab162/" target="_blank" class="btn btn-secondary my-2 shadow" style="margin-left: 2%;">Linkedin</a>
      </p>
    </div>
  </div>
</section>

<div class="news">
  <div class="news-title">
    <h1 class="movie_title text-center" style="font-size: 80px;">NEWSY</h1>
  </div>
  <div class="card bg-dark text-white" style="margin-top: 5%;">
    <img src="{{currentNews.imageUrl}}" class="card-img imgNews" alt="...">
    <div class="card-img-overlay">
      <a href="{{currentNews.url}}" target="_blank" class="card-title movie_title" style="color: white;">{{currentNews.title}}</a>
    </div>
  </div>
</div>


 <div class="top-rated">
  <div>
    <h1 class="movie_title_white text-center" style="font-size: 80px;">NAJNOWSZE</h1>
  </div>
  <ngx-slick-carousel [config]="sliderConfig" class="carousel">
    <div  class="card_link" *ngFor="let m of newestMovies" ngxSlickItem>
      <div class="imgContainer">
        <a (click)="goToMovie(m)">
          <img src="{{m.imgLogoUrl}}">
        </a>
      </div>
    </div>
  </ngx-slick-carousel>
</div> 

<div class="movies" style="margin-top: 5%;">
  <div>
    <h1 class="movie_title text-center" style="font-size: 80px;">NAJLEPIEJ OCENIANE</h1>
  </div>
  <div class="container">
    <div class="row text-center">
      <div *ngFor="let movie of topRatedMovies" class="col-3 text-center">
        <div class="card_link view overlay" style="margin-top: 25%;">
          <div class="imgContainer shadow-sm border border-secondary">
            <a (click)="goToMovie(movie)">
              <img src="{{movie.imgLogoUrl}}">
            </a>
          </div>
          <div>
            <a (click)="goToMovie(movie)" class="btn btn-link movie_title">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="movies" style="margin-top: 5%;">
  <div>
    <h1 class="movie_title text-center" style="font-size: 80px;">WSZYSTKIE</h1>
  </div>
  <div class="container">
    <div class="row text-center">
      <div *ngFor="let movie of movies" class="col-3 text-center">
        <div class="card_link view overlay" style="margin-top: 25%;">
          <div class="imgContainer shadow-sm border border-secondary">
            <a (click)="goToMovie(movie)">
              <img src="{{movie.imgLogoUrl}}">
            </a>
          </div>
          <div>
            <a (click)="goToMovie(movie)" class="btn btn-link movie_title">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
