<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Project in beta tests!</h1>
      <p class="lead text-muted">Welcome to MovieRoom website! There you can see a lot of great movies. It's option to register, like films, add comment and others.. Created to improve skills, mostly in JAVA.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Github</a>
        <a href="#" class="btn btn-secondary my-2">Linkedin</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
      <div *ngFor="let movie of movies" class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
           role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
           <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>

          <div class="card-body">
          <a (click)="goToMovie(movie)" class="btn btn-link"><h3>{{movie.title}}</h3></a>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger btn btn-sm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Iron man</h5>
    <p class="card-text"> {{news}} </p>
    <a href="#" class="btn btn-primary">Articule</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>