<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <p>
        <strong>{{ currentUser.username }}</strong> Profil
      </p>
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.token.substring(0, 20) }} ...
    {{ currentUser.token.substr(currentUser.token.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li>
      {{ currentUser.role }}
    </li>
  </ul>
</div>


<div class="movies" style="margin-top: 5%;">
  <div>
    <h1 class="movie_title text-center" style="font-size: 80px;">ULUBIONE</h1>
  </div>
  <div class="container">
    <div class="row text-center">
      <div *ngFor="let movie of movies" class="col-3 text-center">
        <div class="card_link view overlay" style="margin-top: 25%;">
          <div class="imgContainer shadow-sm border border-secondary">
            <a (click)="goToMovie(movie)">
              <img src="{{movie.imgLogoUrl}}">
            </a>
          </div>
          <div>
            <a (click)="goToMovie(movie)" class="btn btn-link movie_title">{{movie.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Proszę zaloguj się!
</ng-template>
