<div class="lel">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
      <label for="title" class="form-label">Tytuł</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="title"
          required
          [(ngModel)]="movie.title"
          placeholder="Titanic"
          name="title"
        />
      </div>
      
      <div class="form-group col-md-6">
        <label for="date" class="form-label">Data</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="date"
          required
          [(ngModel)]="movie.releaseDate"
          name="date"
        />
      </div>
    </div>
    

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="director" class="form-label">Reżyser</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="director"
          required
          [(ngModel)]="movie.director"
          name="director"
        />
      </div>

      <div class="form-group col-md-6">
        <label for="writer" class="form-label">Scenariusz</label>
        <input
          type="text"
          class="form-control shadow-sm"
          id="writer"
          required
          [(ngModel)]="movie.writer"
          name="writer"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="form-label">Opis</label>
      <textarea
      class="form-control shadow-sm"
      id="description"
      rows="3"
      required
      [(ngModel)]="movie.description"
      name="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="inputState">Kategoria</label>
      <select name="category" [(ngModel)]="movie.category" id="inputState" class="form-control shadow-sm">
        <option value="ACTION">Akcja</option>
        <option value="DRAMA">Dramat</option>
        <option value="COMEDY">Komedia</option>
        <option value="FANTASY">Fantasy</option>
        <option value="HORROR">Horror</option>
        <option value="ROMANCE">Romans</option>
        <option value="THRILLER">Thriller</option>
      </select>
    </div>

    <label for="title" class="form-label">Zdjęcia</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control shadow-sm"
        name="image-logo"
        required
        [(ngModel)]="movie.imgLogoUrl"
        placeholder="Link do loga"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control shadow-sm"
        name="image-background"
        required
        [(ngModel)]="movie.imgBackUrl"
        placeholder="Link do tła"
      />
    </div>


    <label for="actor" class="form-label">Aktorzy</label>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control shadow-sm"
          id="actor-last"
          required
          [(ngModel)]="firstName"
          name="actor-last"
          placeholder="Johnny" 
        />
      </div>
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control shadow-sm"
          id="actor-first"
          required
          [(ngModel)]="lastName"
          name="actor-first"
          placeholder="Depp"
        />
        
      </div>
      <div class="form-group col-md-1">
        <button (click)="addActor()"  class="btn btn-success shadow">+</button>
      </div>
      
    </div>


    <div class="d-flex justify-content-center flex-column flex-wrap" >
      <ul *ngFor="let actor of actors; let i = index">
        <div class="border border-primary shadow">
          <li class="list-group-item text-center" style="margin-top: 1px; height: 40px; margin: 0 auto">{{i+1}}. <b>{{actor.firstName}} {{actor.lastName}}</b> 

            <div class="removeAct">
              <span (click)="removeActor(i)" class="material-icons">
              not_interested
              </span>
            </div>
          </li>
        </div>
      </ul>
    </div>

  <div>
    <button (click)="saveMovie()" class="btn btn-success">Wyślij</button>
  </div>
  </form>
</div>
